
body {
    margin: 0;
    overflow: hidden;
    font-family: "Urbanist", sans-serif;
    /* font-size: 20px; */
    /* font-family: 'DM Sans', sans-serif; */
    line-height: 24px;
    /* position: relative; */
    color: white;
    /* background-color: #c4d7f8; */
    background-image: linear-gradient(180deg, #d5d1dd 5%, #a696b0, #d5d1dd);
  }
  
  canvas {
    display: block;
    /* position:fixed;  */
    left: 0; 
    top: 0; 
    z-index: -1;
  }


  /***** TITLE CARD *****/
  .title-card-wrapper {
    display: flex;
    align-items: center;
    /* height: 100%; */
    /* width: 10%; */

  }

  .title-card {
    display: none;
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    z-index: 1; 
    animation: fadeInAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
  }

  .title-card-bg {
    width: 100%;
    height: 100%;
  }

  .title-card .icon-wrapper img {
    position: absolute;
    height: auto;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    border-radius: 32px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
  }

  .icon-wrapper:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }

  .icon-x-wrapper {
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    z-index: 1000;
  }

  .icon-x-wrapper img {
    width: 20px;
    
    /* transform: translate(-50%, -50%);  */
  }

  .icon-wrapper img {
    transition: opacity 0.3s ease;
  }

  .title-card .icon-book-wrapper {
    width: 64px;
    height: 64px;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0); 
  }

  .title-card .icon-book-wrapper img {
    width: 32px;
  }

  .icon-book-filled {
    opacity: 0;
  }
  

  /****** JOURNAL ******/
  .content-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center;
    height: 100vh; */
    /* position: relative; */
  }

  .journal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 800px;
    z-index: 1;
    /* border-radius: 40px; */
    transition: 0.3s;
  }

  .journal-img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    /* z-index: 10; */
    
  }

  .journal-dots-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    /* z-index: 100; */
  }

  .journal-dots {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: 0.3s;
    z-index: 1000;
  }

  .journal-dots:hover {
    width: 22px;
    height: 22px;
    background-color: white;
  }

  .journal-translation {
    /* display: none;
    visibility: hidden; */
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 16px;
    border-radius: 20px;
    padding: 32px;
    width: 220px;
    transition: opacity 0.3s ease;
    z-index: 100;
  }

  #blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  #instructions {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }

  .card {
    display: none;
    /* font-Size: 2.1vh;
    width: 40%;
    padding: 8vh;
    margin: 0 auto;
    line-height: 4vh;

    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    animation: fadeInAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;  */
  }

  @keyframes fadeInAnimation {

    0% {opacity: 0; }
    100% {opacity: 1;}
    
    }